## Web Scraping Homework - Mission to Mars ##

In [1]:
from splinter import Browser
from webdriver_manager.chrome import ChromeDriverManager
from bs4 import BeautifulSoup as bs
#from selenium import webdriver

import pandas as pd
import os
import requests
import pymongo


#import time

nasa_url = "https://mars.nasa.gov/news/"
spaceimages_url = "https://spaceimages-mars.com/"
marsfacts_url = "https://galaxyfacts-mars.com/"

In [2]:
# splinter
executable_path = {'executable_path': ChromeDriverManager().install()}
browser = Browser('chrome', **executable_path, headless=False)

====== WebDriver manager ======
Current google-chrome version is 96.0.4664
Get LATEST chromedriver version for 96.0.4664 google-chrome
Driver [/Users/lorenamartinez/.wdm/drivers/chromedriver/mac64/96.0.4664.45/chromedriver] found in cache

### NASA Mars News ###

In [3]:
# visit mars.nasa.gov/news
browser.visit(nasa_url)

In [4]:
# scrape to Soup
nasa_html = browser.html
nasa_soup = bs(nasa_html, "html.parser")

In [5]:
# latest news title and paragraph
news_title =  nasa_soup.find_all("div", class_="content_title")[1].text
news_p = nasa_soup.find_all("div", class_="article_teaser_body")[1].text

#display
print("* Latest News Title *")
print(news_title)
print()
print("* Paragraph Text *")
print(news_p)

* Latest News Title *
Team Behind NASA's Newest Mars Rover to Honor Persevering Students

* Paragraph Text *
NASA researchers and colleagues from around the world will present the latest findings on a range of Earth and space science topics at the annual American Geophysical Union (AGU) meeting, being held virtually and in New Orleans from Monday, Dec. 13, through Friday, Dec. 17.

### JPL Mars Space Images - Featured Image ###

In [6]:
# visit mars.nasa.gov/news
browser.visit(spaceimages_url)

In [7]:
space_html = browser.html
space_soup = bs(space_html, "html.parser")

In [8]:
button = browser.find_by_tag('button')[1]
button.click()

img_html = browser.html
img_soup = bs(img_html, "html.parser")

In [9]:
#image_url = img_soup.find('img',{'class_':'fancybox-image'}).get['src']
img_url = img_soup.find('img', class_='fancybox-image').get('src')
featured_image_url = spaceimages_url + img_url
print(featured_image_url)

https://spaceimages-mars.com/image/featured/mars1.jpg

### Mars Facts ###

In [10]:
marsfacts_url = "https://galaxyfacts-mars.com/"
browser.visit(marsfacts_url)

In [16]:
#pd.read_html(html_no_head,header=0)
html_df = pd.read_html(marsfacts_url, header=0)

In [17]:
print(html_df)

[  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C,    Equatorial Diameter:                       6,792 km
0       Polar Diameter:                       6,752 km
1                 Mass:  6.39 × 10^23 kg (0.11 Earths)
2                Moons:          2 ( Phobos & Deimos )
3       Orbit Distance:       227,943,824 km (1.38 AU)
4         Orbit Period:           687 days (1.9 years)
5  Surface Temperature:                   -87 to -5 °C
6         First Record:              2nd millennium BC
7          Recorded By:           Egyptian astronomers]

In [24]:
print(html_df[0])

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [25]:
html_df = html_df[0]

In [26]:
print(html_df)

  Mars - Earth Comparison             Mars            Earth
0               Diameter:         6,779 km        12,742 km
1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
2                  Moons:                2                1
3      Distance from Sun:   227,943,824 km   149,598,262 km
4         Length of Year:   687 Earth days      365.24 days
5            Temperature:     -87 to -5 °C      -88 to 58°C

In [30]:
facts_html = html_df.to_html()

In [31]:
print(facts_html)

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Mars - Earth Comparison</th>
      <th>Mars</th>
      <th>Earth</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Diameter:</td>
      <td>6,779 km</td>
      <td>12,742 km</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Mass:</td>
      <td>6.39 × 10^23 kg</td>
      <td>5.97 × 10^24 kg</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Moons:</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>Distance from Sun:</td>
      <td>227,943,824 km</td>
      <td>149,598,262 km</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Length of Year:</td>
      <td>687 Earth days</td>
      <td>365.24 days</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Temperature:</td>
      <td>-87 to -5 °C</td>
      <td>-88 to 58°C</td>
    </tr>
  </tbody>
</table>

### Mars Hemispheres ###